@font-face {
  font-family: Pacman;
  src: url("fonts/BD_Cartoon_Shout-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pacman, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  text-align: center;
  color: whitesmoke;
  margin-top: 16px;
}

.game {
  position: relative;
  width: 540px;
  height: 621px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  background-image: url("view/board.png");
  background-size: cover;
  background-color: black;
  border-radius: 5px;
}

.game div {
  width: 28.42px;
  height: 28.42px;
}

.get-ready {
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.get-ready h1 {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 7px 15px;
  border-radius: 5px;
}

.game .pacman-food {
  background-color: white;
  border-radius: 100%;
  border: 8px solid black;
}

.game .pacman-power {
  background-color: red;
  border-radius: 100%;
  border: 3px solid black;
}

.game .pacman {
  background-color: yellow;
  border-radius: 100%;
  background-image: url("view/pacman-right.png");
  background-size: cover;
}

.game .pacman.right {
  background-image: url("view/pacman-right.png");
}

.game .pacman.left {
  background-image: url("view/pacman-left.png");
}

.game .pacman.up {
  background-image: url("view/pacman-up.png");
}

.game .pacman.down {
  background-image: url("view/pacman-down.png");
}

.game .ghost {
  background-size: cover;
  border: none;
}

.game .ghost.blinky {
  background-image: url("view/red.png");
}

.game .ghost.pinky {
  background-image: url("view/pink.png");
}

.game .ghost.inky {
  background-image: url("view/orange.png");
}

.game .ghost.clyde {
  background-image: url("view/blue.png");
}

.game .ghost.scared {
  background-image: url("view/scared.png");
}